<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <meta charset="UTF-8">
    <title>New Recipe</title>
</head>
<body>
    <h1>New Recipe</h1>
    <form method="post">
        <label>Title:</label><br>
        <input type="text" name="title" required><br><br>
        <label>Description:</label><br>
        <textarea name="description"></textarea><br><br>
        <label>Ingredients:</label><br>
        <textarea name="ingredients"></textarea><br><br>
        <label>Instructions:</label><br>
        <textarea name="instructions"></textarea><br><br>
        <button type="submit">Add Recipe</button>
    </form>
    <a href="{{ url_for('index') }}">Cancel</a>
</body>
</html>
